@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
}

.banner-section{
    height: 550px !important;
    background-image: url('images/banner.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#review{
    height: 200px !important;
}